
.container{
        width: 60%;
        padding: 30px 20px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: rgb(59, 54, 54);
}
h1{
    margin: 50px 0px;
}

input{
    margin: 15px 0px;
    border-radius: 50px;
}
button{
    width: 140px;
    font-weight: bold;
}
footer{
    margin: 60px 30px;
}
@media screen and (max-width: 600px){
    img.clear{
        display: none;
    }
    @media screen and (max-width: 400px){
        .container{
            width: 100%;
        }
    }